@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@font-face {
    font-family: "Rubbik Bubbles";
    src: url(./fonts/RubikBubbles-Regular.ttf)
}
@font-face {
    font-family: "Bounded-Variable";
    src: url(./fonts/Bounded-Variable.ttf)
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Bounded-Variable", "sans-serif";
}
main {
    margin-bottom: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registartion_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.registration_title {
    font-family: "Rubbik Bubbles", sans-serif;
    font-size: 70px;
    text-align: center;
    color: #FF9595;
    margin-top: 50px;
    margin-bottom: 50px;
}

.input_title {
    font-size: 32px;
    color: #3C3C3C;
    font-weight: 400;
}

.input{
    border: 4px solid #FF9595;
    padding: 0.375rem 0.75rem;
    border-radius: 20px;
    font-size: 26px;
    color: #3C3C3C;
}

.input:focus {
    box-shadow: 1px 1px 5px 5px rgba(255, 0, 0, 0.3);
    outline: 0;
}

.input {
    margin-top: 10px;
    height: 75px;
    width: 675px;
}

.btn_register {
    font-family: "Bounded-Variable", "sans-serif";
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;

    background-color: #FF9595;
    border-radius: 20px;
    border: none;

    height: 90px;
    width: 541px;
    margin-top: 70px;

    transition: 0.4s;
}

.btn_register:hover {
    background-color: #FFFFFF;
    color: #FF9595;
    box-shadow: 1px 1px 5px 5px rgba(255, 0, 0, 0.3);
}