@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@font-face {
    font-family: "Rubbik Bubbles";
    src: url(./fonts/RubikBubbles-Regular.ttf)
}
@font-face {
    font-family: "Bounded-Variable";
    src: url(./fonts/Bounded-Variable.ttf)
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
}

main h1 {
    font-family: "Rubbik Bubbles", sans-serif;
    font-size: 60px;
    text-align: center;
    color: #FF9595;
    margin-bottom: 25px;
}
main{
    margin-top: 60px;
    margin-bottom: 100px;
}

.cakes_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 50px;
    justify-items: center;

    color: #FF9595;
    margin-top: 40px;
}
.cakes_item {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 440px;
    background-color: #FFFFFF;
    outline: 3px solid #FF9595;

    border-radius: 20px;
    padding: 25px;

}
.order_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    margin-top: 30px;
}
/*.cakes h1 {*/
/*    color: #FF9595;*/
/*}*/
.cakes_item p {
    font-size: 16pt;
}
.cakes_items .order_box h4 {
    font-size: 32px;
}
.cakes_items img {
    width: 390px;
    height: 336px;
    border-radius: 20px;
    object-fit: cover
}
.cakes_item_title {
    margin-bottom: 20px;
    margin-top: 20px;

    font-size: 30px;
    font-weight: 650;
}
.cakes_btn_buy {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 22px;
    font-weight: 450;
    color: #FFFFFF;

    background-color: #FF9595;
    border-radius: 10px;
    transition: 0.4s;
    width: 190px;
    height: 48px;
}
.cakes_btn_buy:hover {
    background-color: rgba(0, 0, 0, 0);
    outline: 2px solid #FF9595;
    color: #FF9595;
    box-shadow: 1px 1px 5px 5px rgba(255, 0, 0, 0.3);
}