@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@font-face {
    font-family: "Rubbik Bubbles";
    src: url(./fonts/RubikBubbles-Regular.ttf)
}
@font-face {
    font-family: "Bounded-Variable";
    src: url(./fonts/Bounded-Variable.ttf)
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
}

.catalog h2 {
    font-family: "Rubbik Bubbles", sans-serif;
    font-size: 60px;
    text-align: center;
    color: #FF9595;
    margin-bottom: 15px;
}
button {
    text-decoration: none;

}

.filter_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;

    margin-top: 40px;
    margin-bottom: 40px;
}

.btn_filter {
    font-family: "Bounded-Variable", "sans-serif";
    text-align: center;
    font-size: 20px;
    color: #FF9595;

    background-color: #FFFFFF;
    border-radius: 25px;
    border: 2px solid #FF9595;

    height: 48px;
    width: 198px;

    transition: 0.4s;
}

.btn_filter:hover {
    background-color: #FF9595;
    color: #FFFFFF;
    box-shadow: 1px 1px 5px 5px rgba(255, 0, 0, 0.3);
}
.btn_filter:active{
    background-color: #FF9595;
    color: #FFFFFF;

}

/*.filter_box {*/
/*    position: sticky;*/
/*    top: 120px;*/
/*    z-index: 10;*/
/*}*/

main{
    margin-bottom: 100px;
}

.catalog {
    padding-bottom: 70px;
    /*padding-top: 90px;*/
}
.catalog_link {
    color: #FF9595;
    text-align: right;
    margin-top: 50px;
    margin-left: 1200px;
}
.catalog_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    color: #FF9595;
    margin-top: 20px;
}
.catalog_item {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 440px;
    background-color: #FFFFFF;
    outline: 3px solid #FF9595;

    border-radius: 20px;
    padding: 25px;

}
.order_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    margin-top: 30px;
}
.catalog h1 {
    color: #FF9595;
}
.catalog_item p {
    font-size: 16pt;
}
.catalog .order_box h4 {
    font-size: 32px;
}
.catalog img {
    width: 390px;
    height: 336px;
    border-radius: 20px;
    object-fit: cover
}
.catalog_item_title {
    margin-bottom: 20px;
    margin-top: 20px;

    font-size: 30px;
    font-weight: 650;
}
.catalog_btn_buy {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 22px;
    font-weight: 450;
    color: #FFFFFF;

    background-color: #FF9595;
    border-radius: 10px;
    transition: 0.4s;
    width: 190px;
    height: 48px;
}
.catalog_btn_buy:hover {
    background-color: rgba(0, 0, 0, 0);
    outline: 2px solid #FF9595;
    color: #FF9595;
    box-shadow: 1px 1px 5px 5px rgba(255, 0, 0, 0.3);
}