@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@font-face {
    font-family: "Rubbik Bubbles";
    src: url(./fonts/RubikBubbles-Regular.ttf)
}
@font-face {
    font-family: "Bounded-Variable";
    src: url(./fonts/Bounded-Variable.ttf)
}
*{
    margin: 0;
    padding: 0;
}
body {
        font-family: "Bounded-Variable", sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 190px;
}

.error_title {
    font-family: "Rubbik Bubbles";
    font-size: 80px;
    color: #FF9595;

    margin-top: 70px;
}

main img {
    margin-top: 50px;
    margin-bottom: 50px;
}

main p {
    font-family: "Bounded-Variable", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #3c3c3c;
}
